<%- include top %>

<style>

body{
	 overflow-x: hidden;;

}
   .details{
   	background: none;
		overflow-x: hidden;
		min-height: auto;
	width: 1000px;
	padding-top:50px;
   }
.details-l{
	width: 650px;
}.details-r{
	width: 320px;
}
	::-webkit-scrollbar{width:8px;}

::-webkit-scrollbar-thumb{background-color:#bbb;border-radius:15px}

</style>
<div class="details">
	<div class="clearfix">
		<div class="details-l fl">
			<div class="d-section">
				<div class="details-top clearfix">
					<div class="fl">
						<%if(type&&type==1&&imgData.type==0){
							if(imgData.isok==1){

							%>
						<a href="javascript:;" class="btn m-btn"  id="addGood" data-id="<%=imgData.id%>" data-ok="<%=imgData.isok%>">取消</a>
						    <%}else{%>
						<a href="javascript:;" class="btn m-btn"  id="addGood" data-id="<%=imgData.id%>" data-ok="<%=imgData.isok%>">推精</a>
						    <%} %>

						<%}%>
					</div>
				</div>
				<div class="show-img">
					<img src="/upload/<%=imgData.imgurl%>" data-id="<%=imgData.id%>" />
				</div>
				<div class="tool-bar-bottom">
					<a href="javascript:;" class="btn a-btn">采集(<%=comments.length+parseInt(Math.random()*20)%>)</a>
							<a href="javascript:;" class="btn a-btn">喜欢(<%=comments.length%>)</a>
					<a href="javascript:;" class="btn a-btn">评论（<%=comments.length%>）</a>

					<a href="javascript:;" class="btn m-btn" id="lookdes">查看描述</a>
				</div>
				<p class="details-des">
					<%=imgData.description%>
				</p>
			</div>
			<div class="d-section clearfix">
				<ul class="comments">
				<% for(var i=0;i<comments.length;i++){%>
					<li class="comments-item   clearfix">
						<img src="/avatar/<%=comments[i]['avatar']%>" class="citem-avatar fl" />
						<div class="citem-text">
							<p class="citem-text-t"><span><%=comments[i]['username']%></span>&nbsp;-&nbsp;<span class="citem-time"> <%=(comments[i]['create_time'])%></span></p>
							<p class="citem-b <% if(comments[i]['type']==1){%> masked <%}%>"> <%=comments[i]['content']%></p>
						</div>
                    </li>
                    <%}%>
				</ul>
				<div class="add-comments">
					<div class="add-comments-t">
						<img src="/avatar/<%=avatar%>" class="citem-avatar fl" />
						<textarea name="caption" placeholder="添加评论" class="clear-input add-comments-text" id="c-content" autocomplete="off"></textarea>
					</div>
					<a href="javascript:;" class="btn add-comments-btn fr" id="c-add">添加评论</a>
				</div>
			</div>
		</div>
		<div class="details-r fr">
			<div class="d-section">
				<div class="details-r-top clearfix">
					<img src="/avatar/<%=imgData.avatar%>" class="citem-avatar fl" />
					<div class="citem-text">
						<p class="citem-text-t"><span><%=imgData.username%></span></p>
						<p class="citem-b details-r-other">其他作品</p>
					</div>
				</div>


				<ul class="grid  details-r-img  clearfix"style="height:500px">
					<% if(!imglist){ %>
						   <li>没有更多作品</li>
						<%}else{%>
					<%  for(var i=0;i<imglist.length;i++) {
			    	if(imglist[i]['id']==imgData.id)

			    	   continue;
			    	%>
					<li>
						<a href="/imgs/details/<%=imglist[i]['id']%>">
							<img src="/upload/<%=imglist[i]['imgurl']%>" style="width:100%">
						</a>
					</li>
					<% }  }%>

				</ul>
			</div>
		</div>
	</div>
</div>
<%- include pop %>

<script src="/js/jquery.min.js"></script>

<script src="/js/jquery.easing.js"></script>
<script src="/js/gridify-min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>

<script>
	$(function() {
//展示
$('.citem-time').text(formatDateTime($('.citem-time').text()));
$('.waterfall>a').hover(function() {

	$(this).find('.dz-btn,.cj-btn').show();
}, function() {
	$(this).find('.dz-btn,.cj-btn').hide();
});
var options =
{
	srcNode: 'li',             // grid items (class, node)
	margin: '0px',             // margin in pixel, default: 0px
	width: '120px',             // grid item width in pixel, default: 220px
	max_width: '',              // dynamic gird item width if specified, (pixel)
	resizable: true,            // re-layout if window resize
	transition: 'all 0.5s ease' // support transition for CSS3, default: all 0.5s ease
}
$('.grid').gridify(options);

//end
$('#header').addClass('active');
	$('.logo a').addClass('logoActive');
	$('#login').removeClass('alogin');

		$('#addGood').click(function(){
			var id=$(this).attr('data-id');
			var isok=$(this).attr('data-ok');
			var _this=$(this);
				$.ajax({
					type: "get",
					data:{"id":id,"isok":isok},
					url: "/imgs/changOk",
					async: true,
					success:function(data){
						if(data.status == 0) {
							alert(data.error);
							return;
						} else if(data.status == 1) {
							//alert(data.success);
							_this.attr('data-ok',data.isok);
							if(data.isok==0){
								_this.text("推精");
							}else{
								_this.text("取消");
							}
						}
					}
			})
		});
		$('#lookdes').click(function() {
			$('.details-des').slideToggle();
		});

		$("#c-add").click(function() {
			var content = $("#c-content").val();
			if(!content || content == "") {
				return alert('内容不能为空');
			}
			var create_time = new Date().getTime();
			$.ajax({
				type: "post",
				url: "/comments/add",
				async: true,
				data: { "content": content, "create_time": create_time,"img_id":$('.show-img').find('img').attr('data-id')},
				success: function(data) {
					if(data.status == 0) {
						alert(data.error);
						return;
					} else if(data.status == 1) {
						 var fontClass="";
                        if(data.type==1){
                          fontClass='masked';

                        }



                      $("comments").prepend();
						$('.comments').append(
							'<li class="comments-item   clearfix">' +
							'<img src="/avatar/<%=avatar%>" class="citem-avatar fl" />' +
							'	<div class="citem-text">' +
							'		<p class="citem-text-t"><span><%=username%></span>&nbsp;-&nbsp;<span class="citem-time">' + formatDateTime(create_time) + '</span></p>' +
							'		<p class="citem-b '+fontClass+'">' + content + '</p>' +
							'	</div>' +
							'</li>'
						);
                    $("#c-content").val("");
					}

				}
			});

		})
	});



</script>
</body>

</html>
