<%- include top %>
<link rel="stylesheet" href="/css/webuploader.css" />
<div class="bgs">
	<ul>
		<li class="bgColor_1" data-bg=""></li>
		<li class="bgColor_2"></li>
		<li class="bgColor_3"></li>

		<li class="bgColor_4"></li>
	</ul>
	<div class="bgs-btns">
		<a href="javascript:void(0);" class="save btn">保存</a>
		<a href="javascript:void(0);" class="dl btn">取消</a>
	</div>
</div>
<div class="set-bg" style="background: url(/img/body_bg_page.jpg);min-height: 100%;">
	<div class="personal-top">
		<div class="container">

			<div class="personal-header  clearfix">

				<a href="javascript:void(0);" class="change-bg">更换背景</a>
				<ul class="nav fr">
					<li>
						<a href="/" style="color: #222;">返回首页</a>
					</li>
				</ul>

			</div>
			<div class="personal-info">
				<div class="avatar">
					<img src="/avatar/<%= avatar %>" />
				</div>
				<p>
					<%= username%>
				</p>
			</div>
		</div>
	</div>
	<div class="personal-content">

		<div class="personal-show">
			<div class="container">
				<div class="show-top container">
					<h3 class="tit  fl">我的作品</h3>
					<a href="/imgs/addshow" class="upload fr btn"><img src="/img/upload.png" / class="icon-upload">上传个人作品</a>
				</div>

				<ul class="nav  newlist clearfix">
					<%   for(var i=0;i<list.length;i++) {%>
					<li>
						<a href="/imgs/details/<%=list[i]['id']%>">
							<img class="imgItem-img" src="/upload/<%=list[i]['imgurl']%>" width="265" height="180" />
							<div class="imgItem-text">
								<p class="description">
									<%=list[i]['description']%>
								</p>
								<p class="img-info">
									<span class="author-text"><%=list[i]['username']%></span>
									<span class="time"><%=changTime(list[i]['create_time'])%></span>
									<span class="c-number fr">评论（<%=list[i]['c_count']%>）</span>
								</p>
							</div>

						</a>
						<span class="img-del" data-imgId="<%=list[i]['id']%>">删除</span>
						<a class="img-update" href="/imgs/updateshow/<%=list[i]['id']%>">编辑</a>
					</li>

					<%}%>
				</ul>
				<% if(list.length<=0){ %>
				<li style="text-align: center;font-size:18px;color: #999;">还未上传作品....</li>
				<%}%>
			</div>
		</div>

	</div>
</div>
<div class="pop  updat-aavatar" id="pop" style="display: none;">
	<div class="pop-bg"></div>
	<div class="pop-content">
		<span class="close" id="close"></span>

		<span class="clear-label" style="display: block;padding-bottom: 50px;">上传头像：</span>
		<!--dom结构部分-->
		<div id="uploader-demo" style="display: inline-block;vertical-align: middle;">

			<div id="filePicker" class="btn">选择图片</div>
          
		</div>
		<!--用来存放item-->
		<div id="fileList" class="uploader-list" style="margin-left: 48px;"></div>
	</div>
</div>
</div>

<script src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/webuploader.min.js"></script>
<script>
	$(function() {
		$('.change-bg').click(function() {
			$('.bgs').slideToggle();
		});
		$('.newlist>li').hover(function() {
			$(this).find('.img-del,.img-update').show();
		}, function() {
			$(this).find('.img-del,.img-update').hide();
		});

		$('.img-del').click(function() {
			var img_id = $(this).attr('data-imgId');
			var _this = $(this);
			$.ajax({
				type: "get",
				url: "/imgs/delete/" + img_id,
				async: true,
				success: function(data) {
					if(data.status == 0) {
						alert(data.error);
						return;
					} else if(data.status == 1) {
						alert(data.success);
						_this.parent('li').remove();

					}
				}
			});
		});

		/*上传头像*/
		$('.avatar').click(function() {
			$('#pop').show();
		})
		
		$("#filePicker").click(function(){
			$('#rt_rt_1bb83ad0k1gpm12issnfe54liq1').css({
			width:94,
			height:45
		})
		})
		
	var uploader_2 = WebUploader.create({

		// 选完文件后，是否自动上传。
		auto: true,

		// swf文件路径

		// 文件接收服务端。
		server: '/users/updateavatar',
fileNumLimit:1,
		// 选择文件的按钮。可选。
		// 内部根据当前运行是创建，可能是input元素，也可能是flash.
		pick: '#filePicker',

		// 只允许选择图片文件。
		accept: {
			title: 'Images',
			extensions: 'jpg,jpeg,png',
			mimeTypes: 'image/jpg,image/jpeg,image/png' //修改这行
		}
	});
	// 当有文件添加进来的时候
	uploader_2.on('fileQueued', function(file) {
		var $li = $(
				'<div id="' + file.id + '" class="file-item thumbnail">' +
				'<img>' +
				'<div class="info">' + file.name + '</div>' +
				'</div>'
			),
			$img = $li.find('img');

		// $list为容器jQuery实例
		$('#fileList').append($li);

		// 创建缩略图
		// 如果为非图片文件，可以不用调用此方法。
		// thumbnailWidth x thumbnailHeight 为 100 x 100
		uploader_2.makeThumb(file, function(error, src) {
			if(error) {
				$img.replaceWith('<span>不能预览</span>');
				return;
			}

			$img.attr('src', src);
		}, 75, 75);
	});

	// 文件上传失败，显示上传出错。
	uploader_2.on('uploadError', function(file) {
		var $li = $('#' + file.id),
			$error = $li.find('div.uploaderror');

		// 避免重复创建
		if(!$error.length) {
			$error = $('<div class="uploaderror"></div>').appendTo($li);
		}

		$error.text('上传失败');
	});
	})

</script>
</body>

</html>