<!doctype html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8">
		<title>星空</title>
		<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" /> 
		<link rel="stylesheet" href="/css/reset.css">
		<link rel="stylesheet" href="/css/index.css">

		<link rel="stylesheet" href="css/waterfall.css">
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<style>
		html,
		body {
			background: url(/images/bg.gif) repeat #edece9;
		}

		.description {
			display: block;
			padding: 0 16px;
			margin: 10px 0;
			line-height: 1.35em;
			overflow: hidden;
			word-wrap: break-word;
		}
	</style>


	<body>
		<%- include pop %>
		<div id="header" class="" style="left: 0px;">
					<div class="wrapper" style="width: 1244px;">
						<div class="menu-bar">
							<div class="left-part">
								<a id="huaban" href="/"></a>
								<a href="/" data-title="home"<% if(activePage==1){ %> class="header-item active"<%}else{%> class="header-item" <%}%> >首页</a>

								<a href="/imgs/s/show"<% if(activePage==2){ %> class="header-item active"<%}else{%>class="header-item"<%}%>>学生精品<i class="muse entrance"></i></a>
								<a  href="/imgs/t/show/"  <% if(activePage==3){ %> class="header-item active"<%}else{%>class="header-item"<%}%>>老师精品</a>
							</div>
							<div class="right-part">

			     <% if(username&&avatar) {%>

						 <div class="message-nav">
						 	<a title="通知" href="/users/logout" class="nav-link" style="color:#E54646">
						 		退出

						 	</a>

						 </div>
							 <div id="nav_user">
									<a href="/users/personal/<%= user_id %>" class="nav-link dm-nav"><img width="26" height="26" src="/avatar/<%=avatar%>"  class="avt">
										<div class="arrow"></div>
										<!-- <div class="num ">1</div> -->
									</a>

								</div>

		          <%}else{%>
								<div class="right-part">
									<div class="login-nav">
										<a href="javascript:;"  id="register" class="register btn rbtn" style="color:#fff;background:linear-gradient( #F45D68, #E54646)">
										<span class="text"> 注册</span></a>
										<a   href="javscript:;" class="login btn wbtn">
											<span class="text"  id="login"> 登录</span>
										</a>
									</div>
								</div>

		          <%}%>

						</div>
					</div>
		</div>
		</div>
		<div id="container" style="top: 80px;"></div>
		<script type="text/x-handlebars-template" id="waterfall-tpl">

			{{#result}}

			<div class="item pin wfc " data-src="{{imgurl}}">
				<!-- <div class="hidden">
					<a href="/eg2pqrpdow/">铁血小mm</a>采集到
					<a href="/boards/18641461">UI_卡片式</a>
				</div> -->
				<div class="actions">
					<div class="right">
						<a data-id="1144715085" title="喜欢" href="#" onclick="return false;" class="like btn-with-icon btn btn14"><i class="heart"></i><span class="text"> </span></a>
					</div>
					<div class="left">
						<a onclick="" href="#" class="repin btn btn14 rbtn"><span class="text"> 采集</span></a>
					</div>
				</div>
				<a  target="_self" rel=""  onclick="showImg({{id}},{{user_id}})" class="img x layer-view loaded">
					<div class="default-bg">zcool.com.cn</div> <img src="/upload/{{imgurl}}" width="100%" /><span style="display: none" class="stop"></span>
					<div class="cover">

						<div class="cover">
							<div class="tag-cover"></div>
						</div>
					</div>
				</a>
				<p data-raw="{{description}}" class="description">{{description}}</p>
				<div class="convo attribution clearfix">
					<a href="javascript:;" title="{{username}}" rel="nofollow" class="img x"><img src="/avatar/{{avatar}}" data-baiduimageplus-ignore="1" class="avt"></a>
					<div class="text">
						<div class="inner">
							<div class="line">
								<a href="javascript:;" rel="" class="author x">{{username}}</a>&nbsp;发布</div>
							<div class="line">
								<a href="javascript:;" rel="" class="x create_time">{{changTime create_time}}</a>
							</div>
							<a title="评论" class="replyButton"></a>
						</div>
					</div>
				</div>

			</div>

			{{/result}}
		</script>

		<!--
        	弹窗
        -->

		<div id="pin_view_layer">
			<div class="close-layer" onclick="hideImg()"> <i></i></div>
			<div data-id="1088507615" data-media-type="0" data-board-id="35625540" data-size-x="3648" data-size-y="5472" class="pin-view">
				<div class="pin-view-wrapper">
					<div class="main-part">
						<div class="image-piece piece">
							<div class="tool-bar">
								<a onclick="app.requireLogin(function(){app.showDialogBox('repin', {pin_id: '1088507615'});});return false;" href="#" class="repin-btn btn rbtn"><span class="text"> 采集</span></a>
								<a data-id="1088507615" href="#" onclick="return false;" class="like-btn  btn-with-icon btn"><i class="heart"></i></a>

							</div>
							<div class="main-image">
								<div id="image_holder" class="image-holder"></div>
							</div>
							<div class="tool-bar-bottom">
								<a onclick="app.requireLogin(function(){app.showDialogBox('repin', {pin_id: '1088507615'});});return false;" href="#" class="repin-btn btn-with-icon btn"><i class="class"></i><span class="text"> 采集 <span class="num">13</span></span>
								</a>
								<a href="#" onclick="return false;" class="like-btn btn-with-icon btn"><i class="class"></i><span class="text"> 喜欢 <span class="num">4</span></span>
								</a>
								<a href="#" onclick="return false;" class="comment-btn btn-with-icon btn"><i class="class"></i><span class="text"> 评论 <span class="num"></span></span>
								</a>

								<div class="right-part">
									<a title="举报这张采集" href="#" onclick="return false;" class="report-btn btn-with-icon btn"><i class="class"></i></a>
									<a href="/pins/1088507615" target="_blank" rel="nofollow" class="come-from creation-user btn wbtn btn-with-icon x">© 来自<span class="brown-link"></span>的版权作品</a>
								</div>
							</div>
							<div class="extra-box"></div>
						</div>
						<div class="info-piece piece">
							<div class="info">

							</div>
							<div class="description"></div>
							<div class="comments">



							</div>
							<div id="pin_view_add_comment" data-id=""  class="clearfix">
								<a href="javascript:;"  class="img x"><img src="/avatar/<%= avatar %>"  class="avatar"></a><textarea name="caption" placeholder="添加评论" class="clear-input" id="comment-textarea"></textarea>
								<a href="javascript:;"  id="add-comment" onclick="addcomment('<%=username%>','<%= avatar %>')"  style="display:block" class="post  btn btn14"><span class="text"> 添加评论</span></a>
							</div>
							<div class="likes clearfix">
								<h4>4喜欢</h4>
								<a href="/jixews6nou/" title="Ryanden" class="img x"><img width="46" height="46" src="//img.hb.aicdn.com/cad19d28bfa2e1827d2583454b29c775e7d3e8a0bd212-og7s23_sq75sf" data-baiduimageplus-ignore="1"></a>
								<a href="/chenlijuan4258/" title="N陌路" class="img x"><img width="46" height="46" src="//img.hb.aicdn.com/f0170984d31e6f1c3944bb0b6bd552e6ecb22cf2a19-UIOvzO_sq75sf" data-baiduimageplus-ignore="1"></a>
								<a href="/jxwybabyoy/" title="死流星" class="img x"><img width="46" height="46" src="//img.hb.aicdn.com/654953460733026a7ef6e101404055627ad51784a95c-B6OFs4_sq75sf" data-baiduimageplus-ignore="1"></a>
							</div>
						</div>

					</div>
					<div class="side-part">
						<div class="board-piece piece">
							<div class="board-info">

							</div>
							<div class="board-pins cst-scrollbar">
								<div id="board_pins_waterfall"  class="grid">

								</div>
								<div class="loading" style="display: block;"><img src="/img/end.png"></div>
							</div>
							<!-- <a data-id="35625540" href="#" onclick="return false;" class="follow-btn btn"><span class="text"> 关注画板</span></a> -->
						</div>

					</div>
					<div class="clear"></div>
				</div>

			</div>
			<!-- <div class="pin-view-arrows">
				<a style="visibility: visible; position: fixed; right: 17px;" class="next x layer-view" href="/pins/1088507614/" data-id="1088507614"></a>
				<a style="visibility: visible; position: fixed; left: 0px;" class="prev x layer-view" href="/pins/1088507616/" data-id="1088507616"></a>
			</div> -->
			<!-- <div id="layout_elevator_item" class="elevator-item">
				<a id="layout_elevator" onclick="return false;" title="回到顶部" class="off"></a>
				<a class="plus"></a>
				<div class="plus-popup">
					<div class="group">
						<a onclick="app.showUploadDialog();">添加采集<i class="upload"></i></a>
						<a class="add-board-item">添加画板<i class="add-board"></i></a>
						<a href="/about/goodies/">安装采集工具<i class="goodies"></i></a>
					</div>
					<div class="arr"></div>
				</div>
			</div> -->
			<!-- <div style="display: none" data-img="//img.hb.aicdn.com/2b4fc6ff45b03b4721f9f4c34f2fa94719ee10e32e4a8f-Qekzj3" class="zoom-layer">
				<div class="holder"></div>
				<div class="close-zoom"></div>
			</div> -->
		</div>
		<!--
        	弹窗
        -->
		<script src="/js/libs/jquery/jquery.js"></script>
		<script src="/js/libs/handlebars/handlebars.js"></script>
		<script src="/js/waterfall.min.js"></script>
		<script type="text/javascript" src="/js/app.js" ></script>
   <script type="text/javascript" src="/js/js.js" ></script>
	  <script type="text/javascript" src="/js/gridify-min.js" ></script>
		<script>



			$('#container').waterfall({
				itemCls: 'item',
				colWidth: 236,
				gutterWidth: 15,
				gutterHeight: 15,
				checkImagesLoaded: false,
	      maxPage: <%=maxPage%>,
       path: function(page) {
       return '/imgs/<%=type%>/ok/'+page;
		 }
			});



			var options =
			{
				srcNode: 'a',             // grid items (class, node)
				margin: '0px',             // margin in pixel, default: 0px
				width: '120px',             // grid item width in pixel, default: 220px
				max_width: '',              // dynamic gird item width if specified, (pixel)
				resizable: true,            // re-layout if window resize
				transition: 'all 0.5s ease' // support transition for CSS3, default: all 0.5s ease
			}
			$('.grid').gridify(options);

			Handlebars.registerHelper("changTime", function(t){
        return    changTime(t);
			})
		</script>

	</body>

</html>
