<%- include top %>
		<link rel="stylesheet" href="/css/style.css" />
<div id="header" class="" style="left: 0px;">
			<div class="wrapper" style="width: 1244px;">
				<div class="menu-bar">
					<div class="left-part">
						<a id="huaban" href="/"></a>
						<a href="/" data-title="home"<% if(activePage==1){ %> class="header-item active"<%}else{%> class="header-item" <%}%> >首页</a>

						<a href="/imgs/s/show"<% if(activePage==2){ %> class="header-item active"<%}else{%>class="header-item"<%}%>>学生精品<i class="muse entrance"></i></a>
						<a  href="/imgs/t/show/"  <% if(activePage==3){ %> class="header-item active"<%}else{%>class="header-item"<%}%>>老师精品</a>
					</div>
					<div class="right-part">

			 <% if(username&&avatar) {%>

				 <div class="message-nav">
					<a title="通知" href="/users/logout" class="nav-link" style="color:#E54646">
						退出

					</a>

				 </div>
					 <div id="nav_user">
							<a href="/users/personal/<%= user_id %>" class="nav-link dm-nav"><img width="26" height="26" src="/avatar/<%=avatar%>"  class="avt">
								<div class="arrow"></div>
								<!-- <div class="num ">1</div> -->
							</a>

						</div>

					<%}else{%>
						<div class="right-part">
							<div class="login-nav">
								<a href="javascript:;"  id="register" class="register btn rbtn" style="color:#fff;background:linear-gradient( #F45D68, #E54646)">
								<span class="text"> 注册</span></a>
								<a   href="javscript:;" class="login btn wbtn">
									<span class="text"  id="login"> 登录</span>
								</a>
							</div>
						</div>

					<%}%>

				</div>
			</div>
</div>
</div>
<link rel="stylesheet" href="/css/webuploader.css" />
<div class="add-content" style="padding-top:80px">
	<div class="container">
		<h3>
			作品编辑
		</h3>
		<form class="add-from">
			<input type="hidden" name="id" value="<%=img.id%>"/>
			<div class="input-group">
				<label class="clear-label">描述：</label>
				<textarea rows="3" class="textarea clear-input" name="description"><%=img.description%></textarea>
			</div>

			<div class="input-group">
				<label class="clear-label">图片：</label>
				<img src="/upload/<%=img.imgurl%>" height="200" width="200" style="vertical-align: top;"/>

			</div>
			<div class="input-group">
				<label class="clear-label">分类：</label>
				<select class="select clear-input" name="kind">
					<option value="0" <% if(img.kind==0){ %> select <%}%>>素描</option>
					<option value="1" <% if(img.kind==1){ %>  select<%}%>>色彩</option>
					<option value="2" <% if(img.kind==2) {%>  select<%}%>>速写</option>
				</select>
			</div>
			<div class="input-group">
				<label class="clear-label">是否公开：</label>
				<label class="radio-inline">
                    <input type="radio" name="open" value="1"  <% if(img.open==1) {%>  checked <%}%> > 是
                 </label>
				<label class="radio-inline">
                    <input type="radio" name="open"  value="-1"  <% if(img.open==-1){ %>  checked <%}%>> 否
                </label>
			</div>
			<a href="javascript:;" class="btn  up-save" id="up-save">提交</a>
		</form>
	</div>
</div>
<%- include footer %>
<script src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/webuploader.min.js"></script>
<script>

	$('#up-save').click(function(){
		var description=$("textarea[name='description']").val();
		var kind=$("select[name='kind']").val();
		var open=$("input:radio[name='open']:checked").val();
		var id=$("input:hidden[name='id']").val();
		$.ajax({
				type: "post",
				url: '/imgs/updateimg',
				data: { "description": description, "kind": kind,"open":open,"id":id},
				async: true,
				success: function(data) {
					if(data.status==1){
						alert("修改成功！！");
						window.location.href="/users/personal/"+data.user_id;
					}else if(data.status==0){
						alert(data.error);
					}
					//alert(data.status);
				  }
				})
	});


</script>
</body>

</html>
